* {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: wh; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}

.calc {
  width: 20rem;
  border: 1px solid darkgoldenrod;
  border-radius: 20px;
  overflow: hidden;
  background-color: #23252f;
}

.calc_display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0.5rem;
}

.calc_display > div {
  min-height: 2.5rem;
  padding: 1rem 0rem;
  color: white;
}

.calc_display .operation {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.calc_display .result {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  background-color: #333945;
  border-top-left-radius: 8%;
  border-top-right-radius: 8%;
  gap: 0.75rem;
  padding: 1.4rem 1.1rem;
  color: whitesmoke;
}

.buttons > div {
  border: 2px solid darkgrey;
  user-select: none;
  border-radius: 9px;
  flex: 1 0 55px;
  font-size: 1.5rem;
  cursor: pointer;
  overflow: hidden;
}

.buttons > div:hover {
  border: 2px solid crimson;
}

h4 {
  padding: 0.5rem 0;
  text-align: center;
}

#clear {
  background-color: crimson;
}
